@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --titleColor: #658dfd;
    --textColor: #b8c5e9;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 70%;
    margin: auto;
}


.header__page{
    width: 100%;
    height: 100vh;
    background-image: url(/img/homebg.png);
    background-size: cover;
    position: relative;
}

.navbar{
    display: flex;
    justify-content: space-between;
    /* padding-top: 20px; */
    height: 90px;
    align-items: center;
}

.navbar__logo{
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.navbar__nav ul{
    display: flex;
}

.navbar__nav ul li{
    margin: 0 40px;
    list-style: none;
    font-size: 13px;
    margin-top: 8px;
}

.navbar__nav ul li a{
    text-decoration: none;
    color: var(--textColor);
}

.navbar__nav ul li a:hover{
    color: white;
}

.navbar__icon i{
    margin: 0 15px;
    font-size: 20px;
    color: white;
}

.header__boody{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height:500px;
}

.header__boody__title h1{
    font-size: 50px;
    text-align: start;
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
}

.header__boody__title p{
    color: var(--textColor);
    text-align: start;
    margin-bottom: 20px;
    width: 400px;
}

.header__btns{
    display: flex;
}

.header__btn{
    padding: 8px 40px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}
.header__btn:first-child{
    margin-right: 14px;
}
.header__btn--orange{
    background-color: #fa6a41;
}

.header__btn--blue{
    background-color: #4566c8;
}

.header__boody__img{
    max-width: 500px;
    max-height: 350px;
    min-width: 300px;
    min-height: 300px;
}

.header__boody__img img{
    width: 100%;
    height: 100%;
    background-size: cover;
    /* margin-top: 120px; */
}

.header__down{
    text-align: center;
    color: red;
    
}

.header__down i{
    position: absolute;
    bottom: 20px;
    left: 47%;
    font-size: 8px;
    padding: 15px;
    background-color: white;
    border-radius: 50%;
}

.perfect{
    margin-top: 100px;
    text-align: center;
}

.perfect__title{
    font-size: 30px;
    color: var(--titleColor);
}

.perfect__subtitle{
    font-size: 15px;
    margin-top: 20px;
    color: var(--textColor);
}

.perfect__section{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    margin-top: 50px;
}

.perfect__box{
    display: flex;
    width: 300px;
    margin: 15px;
}

.perfect__box__icon i{
    font-size: 60px;
    color: #fa704c;
    margin: 10px 10px 0 0;
}

.perfect__box__text h3{
    text-align: start;
}

.perfect__box__text p{
    text-align: start;
    color: var(--textColor);
    margin-top: 15px;
}

.semple__title{
    text-align: center;
    font-size: 30px;
    color: var(--titleColor);
}

.semple__subtitle{
    text-align: center;
    margin-top: 15px;
    color: var(--textColor);
}

.semple__box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.semple__icon{
    font-size: 60px;
    font-weight: 100;
    margin: 10px;
    color: var(--textColor);
}

.semple__img{
    max-width: 700px;
    max-height: 600px;
    min-width: 400px;
    min-height: 400px;
}

.semple__img img{
    width: 100%;
    height: 100%;
}

.screenshot{
    text-align: center;
    margin-top: 40px;

}

.screenshot > h3{
    font-size: 30px;
    color: var(--titleColor);
    margin-bottom: 10px;
}

.screenshot > p{
    font-size: 15px;
    color: var(--textColor);
}

.screenshot__box{
    margin-top: 150px;
    display: flex;
}

.screenshot__img{
    max-width: 270px;
    margin-right: 100px;
    position: relative;
}

.screenshot__img-label{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(228, 228, 8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    right: -14%;
    color: white;
}

.screenshot__img-gradus{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(71, 134, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 30%;
    left: -20%;
    color: white;
    font-size: 25px;
}

.screenshot__img img{
    width: 100%;
}

.screenshot__desc{
    max-width: 400px;
    text-align: left;
    padding-top: 80px;
}

.screenshot__title{
    color: var(--titleColor);
    margin: 20px 0px;
    font-size: 35px;
}

.screenshot__paragraph{
    font-size: 18px;

}

.screenshot__icon-box{
    display: flex;
    margin-top: 20px;
    
}

.screenshot__icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px  5px;
    background-color: white;
    position: relative;
    z-index: -1;

}
.screenshot__icon--margin{
    margin-right: -12px;
    z-index: 1;
}
.screenshot__icon--z-index{
    z-index: 2;
}

.m-left-100{
    margin: 0;
    margin-left: 100px;
}

.orange-color{
    background-color: #f2a14f;
}

.red-color{
    background-color: #fa6a41;
}

.fresh-color{
    background-color: #b8faee;
}

.blue-color{
    background-color: #7593c9;
}

.saying__page{
    margin-top: 70px;
}

.saying__page > h3{
    font-size: 27px;
    color: var(--titleColor);
    text-align: center;
}

.saying__page > p{
    font-size: 15px;
    color: var(--textColor);
    text-align: center;
    margin-top: 10px;
}

.saying__box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.saying__text{
    width: 45%;
    height: 220px;
    position: relative;
    margin-bottom: 50px;
}

.saying__box i{
    font-size: 40px;
    color: var(--titleColor);
}

.saying__text h4{
    font-size: 20px;
    font-weight: 300;
    margin: 15px 0;
}

.right-icon{
    position: absolute;
    bottom: 0;
    right: 0;
}

.download__page{
    background-color: var(--titleColor );
    width: 100%;
    height: 400px;
    margin-top: 40px;
}

.download{
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.download__title{
    width: 50%;
    height: 400px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    text-align: start;
}

.download__title h1{
    font-size: 40px;
    color: #fff;
    margin-bottom: 30px;
    text-align: left;
}

.download__title p{
    width: 400px;
    color: white;
    text-align: start;
    margin-bottom: 30px;
}

.download__icon img{
    margin-right: 5px;
}


.download img{
    margin-top: 50px;
    max-width: 600px;
    max-height: 350px;

}

.footer__down{
    width: 100%;
    height: 300px;
    background-color: #343855;
}

.footer__nav{
    height: 100px;
    padding-top: 50px;
}

.footer__nav .navbar__logo{
    color: var(--titleColor);
}

.footer__nav .navbar__logo span{
    color: #fa704c;
}

.footer__line{
    width: 90%;
    margin: auto;
    border-top: 1px;
    border-style: solid;
    border-color: #393e5d;
    margin-top: 70px;
}

.footer__c{
    margin-top: 30px;
}

.footer__c p{
    font-size: 14px;
    color: var(--textColor);
    text-align: end;
}

.home__icon i{
    position: fixed;
    bottom: 0;
    right: 100px;
    padding: 10px;
    border-radius: 5px;
    color: var(--textColor);
    background-color: #43476a;


}